<div class="card">
    <div class="card-header">
      Formulario Menor Número
    </div>
    <div class="card-body">
      <div class="mb-3">
        <label for="numero1">Ingrese Número 1:</label>
        <input type="number" class="form-control" [(ngModel)]="numeros[0]" id="numero1" placeholder="Ingrese Número">
      </div>
      <div class="mb-3">
        <label for="numero2">Ingrese Número 2:</label>
        <input type="number" class="form-control" [(ngModel)]="numeros[1]" id="numero2" placeholder="Ingrese Número">
      </div>
      <div class="mb-3">
        <label for="numero3">Ingrese Número 3:</label>
        <input type="number" class="form-control" [(ngModel)]="numeros[2]" id="numero3" placeholder="Ingrese Número">
      </div>
      <div class="mb-3">
        <label for="numero4">Ingrese Número 4:</label>
        <input type="number" class="form-control" [(ngModel)]="numeros[3]" id="numero4" placeholder="Ingrese Número">
      </div>
    </div>
    <hr />
    <button type="button" (click)="calcularMenorNumero()" class="btn btn-primary">Calcular Menor Número</button>
    <div class="mt-3">
      @if (menorNumero !== null) {
        <p>El menor número es: {{ menorNumero }}</p>
      }
    </div>
  </div>